/* CSS untuk ukuran mobile */
@media screen and (max-width: 768px) {
    .container {
      width: 85% !important;
    }
  
    .carousel-item {
      height: 600px;
    }
    
    .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  
    .search-bar-container {
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
    }
  }

  @media only screen and (max-width: 575px) {
    .single-timeline-area .timeline-date {
        width: 100px;
    }
  }
  @media only screen and (max-width: 575px) {
    .single-timeline-area .single-timeline-content {
        padding: 20px;
    }
  }
  @media only screen and (max-width: 575px) {
    .single-timeline-area {
        padding-left: 100px;
    }
  }