.navbar {
  color: #fff;
}
.navbar-backdrop {
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px); 
    background: rgba(255, 255, 255, 1);
    transition: background-color 0.3s, backdrop-filter 0.3s;
}
.carousel-inner {
  position: relative;
  text-align: center;
}
.carousel-inner::before {
  content: "Temukan Destinasi Wisata Impianmu";
  display: block;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 54px;
  font-weight:500;
  z-index: 10;
}
.search-bar-container {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}